.page-enter-active,
.page-leave-active {
  transition: opacity .1s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity .5s
}

.layout-enter,
.layout-leave-active {
  opacity: 0
}

html {
  overflow-y: auto;
  overscroll-behavior-y: none;
}

.navbar-burger {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 10px
}

.navbar-brand {
  height: 52px;
}

.message-body {
  padding: 0.2rem;
  border-width: 1px;
}

.is-top-right {
  padding: 1rem;
  padding-right: 2rem;
}